ttt/WebContent/wsdl/TTT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tt" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://tt" xmlns:intf="http://tt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://tt" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="move">
    <complexType>
     <sequence>
      <element name="idgame" type="xsd:int"/>
      <element name="position" type="xsd:string"/>
      <element name="mark" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="moveResponse">
    <complexType>
     <sequence>
      <element name="moveReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="addPlayer">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPlayerResponse">
    <complexType>
     <sequence>
      <element name="addPlayerReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkWin">
    <complexType>
     <sequence>
      <element name="idgame" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkWinResponse">
    <complexType>
     <sequence>
      <element name="checkWinReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletePlayer">
    <complexType>
     <sequence>
      <element name="key" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletePlayerResponse">
    <complexType/>
   </element>
   <element name="startGame">
    <complexType>
     <sequence>
      <element name="player1" type="xsd:int"/>
      <element name="player2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="startGameResponse">
    <complexType>
     <sequence>
      <element name="startGameReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="chooseOpponent">
    <complexType>
     <sequence>
      <element name="idplayer" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="chooseOpponentResponse">
    <complexType>
     <sequence>
      <element name="chooseOpponentReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOpponentID">
    <complexType>
     <sequence>
      <element name="idplayer" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOpponentIDResponse">
    <complexType>
     <sequence>
      <element name="getOpponentIDReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="chooseOpponentResponse">

      <wsdl:part element="impl:chooseOpponentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletePlayerRequest">

      <wsdl:part element="impl:deletePlayer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOpponentIDRequest">

      <wsdl:part element="impl:getOpponentID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPlayerRequest">

      <wsdl:part element="impl:addPlayer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="moveResponse">

      <wsdl:part element="impl:moveResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkWinRequest">

      <wsdl:part element="impl:checkWin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="chooseOpponentRequest">

      <wsdl:part element="impl:chooseOpponent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletePlayerResponse">

      <wsdl:part element="impl:deletePlayerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="moveRequest">

      <wsdl:part element="impl:move" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOpponentIDResponse">

      <wsdl:part element="impl:getOpponentIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="startGameResponse">

      <wsdl:part element="impl:startGameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="startGameRequest">

      <wsdl:part element="impl:startGame" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkWinResponse">

      <wsdl:part element="impl:checkWinResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPlayerResponse">

      <wsdl:part element="impl:addPlayerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TTT">

      <wsdl:operation name="move">

         <wsdl:input message="impl:moveRequest" name="moveRequest">

       </wsdl:input>

         <wsdl:output message="impl:moveResponse" name="moveResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPlayer">

         <wsdl:input message="impl:addPlayerRequest" name="addPlayerRequest">

       </wsdl:input>

         <wsdl:output message="impl:addPlayerResponse" name="addPlayerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkWin">

         <wsdl:input message="impl:checkWinRequest" name="checkWinRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkWinResponse" name="checkWinResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletePlayer">

         <wsdl:input message="impl:deletePlayerRequest" name="deletePlayerRequest">

       </wsdl:input>

         <wsdl:output message="impl:deletePlayerResponse" name="deletePlayerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="startGame">

         <wsdl:input message="impl:startGameRequest" name="startGameRequest">

       </wsdl:input>

         <wsdl:output message="impl:startGameResponse" name="startGameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="chooseOpponent">

         <wsdl:input message="impl:chooseOpponentRequest" name="chooseOpponentRequest">

       </wsdl:input>

         <wsdl:output message="impl:chooseOpponentResponse" name="chooseOpponentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOpponentID">

         <wsdl:input message="impl:getOpponentIDRequest" name="getOpponentIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getOpponentIDResponse" name="getOpponentIDResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TTTSoapBinding" type="impl:TTT">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="move">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="moveRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="moveResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPlayer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPlayerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addPlayerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkWin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkWinRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkWinResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletePlayer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deletePlayerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deletePlayerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="startGame">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="startGameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="startGameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="chooseOpponent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="chooseOpponentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="chooseOpponentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getOpponentID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOpponentIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOpponentIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TTTService">

      <wsdl:port binding="impl:TTTSoapBinding" name="TTT">

         <wsdlsoap:address location="http://localhost:8080/ttt/services/TTT"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
